/* PyQt 6 app dark flat theme */

/* Main window */
QMainWindow {
    background-color: #2e2e2e;
}

QDialog {
    background-color: #2e2e2e;
}

QGroupBox {
    background-color: #2e2e2e;
    border: 1px solid #4e4e4e;
}

/* Menu */
QMenuBar,
QMenu,
QMenuBar::item {
    background-color: #2e2e2e;
    color: #ffffff;
}

/* QWidget{
    background-color: #2e2e2e;
    color: #ffffff;
} */

QLabel {
    color: #ffffff;
    background-color: transparent;
}

QLabel:disabled {
    color: rgba(255, 255, 255, 0.2);
}

QCheckBox {
    color: #ffffff;
    background-color: transparent;
}

QCheckBox:disabled {
    color: rgba(255, 255, 255, 0.2);
}

QCheckBox::indicator {
    background-color: #2e2e2e;
    border: 1px solid #4e4e4e;
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

QCheckBox::indicator:checked:disabled {
    background-color: #2e2e2e;
    border: 1px solid #4e4e4e;
}

QCheckBox::indicator:checked {
    background-color: #3F96D9;
    border: 1px solid #3F96D9;
}

QRadioButton {
    color: #ffffff;
    background-color: transparent;
}

QRadioButton:disabled {
    color: rgba(255, 255, 255, 0.2);
}

QRadioButton::indicator {
    background-color: #2e2e2e;
    border: 1px solid #4e4e4e;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

QRadioButton::indicator:checked:disabled {
    background-color: #2e2e2e;
    border: 1px solid #4e4e4e;
}

QRadioButton::indicator:checked {
    background-color: #3F96D9;
    border: 1px solid #3F96D9;
}

/* Menu bar */

QMenuBar {
    background-color: #2e2e2e;
    color: #ffffff;
    border: none
}

QMenuBar::item {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #2e2e2e;
    color: #ffffff;
    border: none
}

QMenuBar::item:selected {
    color: #3F96D9;
    border: none
}

QMenu {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #4e4e4e;
}

QMenu::item:selected {
    background-color: #4e4e4e;
}

/* Buttons */
QPushButton {
    background-color: #2e2e2e;
    color: #ffffff;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    padding: 5px;
}

QPushButton:hover {
    background-color: #3e3e3e;
}

QPushButton:pressed {
    background-color: #1e1e1e;
}

QPushButton:disabled {
    color: rgba(255, 255, 255, 0.2)
}

/* Green button */
QPushButton.greenBtn {
    font-weight: bold;
    background-color: '#1b7a46';
    border: 1px solid #2b8a56;
    color: '#fff';
}

QPushButton.greenBtn:hover {
    background-color: '#2b8a56';
}

/* Tab Widget */
QTabWidget {
    background-color: #2e2e2e;
    color: #ffffff;
}

QTabWidget::pane {
    border: transparent;
}

QTabBar::tab {
    font-size: 15px;
    margin: 0px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    background-color: #2e2e2e;
    color: #ffffff;
    border-bottom: 3px solid #4e4e4e;
}

QTabBar::tab:selected {
    color: #3F96D9;
    border-bottom: 3px solid #3F96D9;
}

QTabBar::tab:disabled {
    color: #4e4e4e
}

/* Slider */
QSlider::groove:horizontal {
    border: 1px solid #4e4e4e;
    background: #1e1e1e;
    height: 10px;
    border-radius: 5px;
}

QSlider::handle:horizontal {
    background: #ffffff;
    border: 1px solid #ffffff;
    width: 10px;
    height: 10px;
    margin: -5px 0;
    border-radius: 5px;
}

QSlider::sub-page:horizontal {
    background: #3F96D9;
    border-radius: 5px
}

/* Input */
QLineEdit {
    background-color: #2e2e2e;
    color: #ffffff;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    padding: 5px;
}

QlineEdit:disabled {
    color: rgba(255, 255, 255, 0.2)
}

/* Select */
QComboBox {
    background-color: #2e2e2e;
    color: #ffffff;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
}


QComboBox:disabled {
    color: #4e4e4e;
}

QComboBox::drop-down {
    border-top-right-radius: 10px;
    padding-right: 10px;
    border: none;
    width: 15px;
}

QComboBox::down-arrow {
    image: url("assets/icons/caret-down.svg");
    color: #ffffff;
    width: 10px;
    height: 7px;
}


QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}

/* Combobox content */
QComboBox QAbstractItemView {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #4e4e4e;
}

QComboBox QAbstractItemView::item:selected {
    background-color: #4e4e4e;
    color:#ffffff;
}

QTableWidget {
    background-color: #2e2e2e;
    color: #ffffff;
    border:transparent;
}



QTableWidget::item:selected {
    background-color: #3F96D9
}

QHeaderView{
    background-color: #2e2e2e;
}

QHeaderView::section {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 5px;
    border: 1px solid #4e4e4e;
}

/* Change the select all button */
QHeaderView::section:horizontal {
    background-color: #2e2e2e;
    color: #ffffff;
}

QTableCornerButton::section {
    background-color: #2e2e2e;
}

QTableView {
    gridline-color: #4e4e4e;
}

QScrollArea#scrollArea,
QScrollArea#scrollArea_2,
QWidget#scrollAreaWidget,
QWidget#scrollAreaWidgetContents {
    background-color: #2e2e2e;
    border: transparent;
    padding: 0px;

}

QWidget#tab,
QWidget#tab_2,
QWidget#tab_3 {
    background-color: #2e2e2e;
    color: #ffffff;
    border: none;
}

QToolButton {
    background-color: #2e2e2e;
    color: #ffffff;
    border: transparent;
}

QMenuBar#menubar {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 3px;
}

QMenuBar#menubar::item {
    padding-top: 3px;
}

/* Scrollbar */
QScrollBar {
    background: #1e1e1e;
    width: 14px;
    margin: 10px 0 10px 0;
    border-radius: 7px;
}

QScrollBar:vertical {
    border: none;
    background: #1e1e1e;
    width: 14px;
    margin: 10px 0 10px 0;
    border-radius: 7px;
}

QScrollBar::handle:vertical {
    background: rgba(255, 255, 255, 0.2);
    min-height: 20px;
    border-radius: 7px;
}

QScrollBar::handle:vertical:hover {
    background: rgba(255, 255, 255, 0.3);
}

QScrollBar:horizontal {
    border: none;
    background: #1e1e1e;
    height: 14px;
    margin: 0 10px 0 10px;
    border-radius: 7px;
}

QScrollBar::handle:horizontal {
    background: rgba(255, 255, 255, 0.2);
    min-width: 20px;
    border-radius: 7px;
}

QScrollBar::handle:horizontal:hover {
    background: rgba(255, 255, 255, 0.3);
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    border: none;
    background: none;
}

QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal {
    border: none;
    background: none;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

/* Hide arrows */
QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    border: none;
    background: none;
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    border: none;
    background: none;
}

/* Spin box */
    
QSpinBox {
    background-color: #2e2e2e;
    color: #ffffff;
    border: 1px solid #4e4e4e;
    border-radius: 10px;
    padding: 5px;
}

QSpinBox:disabled {
    color: #4e4e4e;
}

/* QSpinbox arrows */
QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */
    background-color: transparent;
    color: #ffffff;
    border-top-right-radius: 10px;
    padding-right: 10px;
}

QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at the bottom right corner */
    background-color: transparent;
    color: #ffffff;
    border-bottom-right-radius: 10px;
    padding-right: 10px;
}

QSpinBox::up-arrow {
    image: url("assets/icons/plus.svg");
    color: #ffffff;
    width: 7px;
    height: 7px;
}

QSpinBox::down-arrow {
    image: url("assets/icons/minus.svg");
    color: #ffffff;
    width: 7px;
    height: 7px;
}

/* Custom */

QGroupBox.blueBox {
    border: 2px solid #FF17365D;
    border-radius: 10px;
    font-size: 14px;
    padding-top: 15px;
    background-color: #1e1e1e;
    padding: 10px;
    padding-top: 20px;
}

QGroupBox.blueBox::title {
    subcontrol-position: top center;
    subcontrol-origin: margin;
    padding: 2px 5px 2px 5px;
    border: 1px solid #FF17365D;
    border-radius: 9px;
    background-color: #FF17365D;
    color: rgb(255, 255, 255);
}

QGroupBox.greenBox {
    border: 2px solid gray;
    border-color: #1b7a46;
    border-radius: 10px 10px 10px 10px;
    font-size: 14px;
    padding-top: 15px;
    background-color: #1e1e1e;
    padding: 10px;
    padding-top: 20px;
}

QGroupBox.greenBox::title {
    subcontrol-position: top center;
    subcontrol-origin: margin;
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
    border-color: #1b7a46;
    border-radius: 9px;
    background-color: #1b7a46;
    color: rgb(255, 255, 255);
}

QGroupBox#mainGroup1,
QGroupBox#webcamBox {
    border: none;
}

QGroupBox#toolBar {
    margin-left: 5px;
    margin-right: 5px;
    border: transparent;
}

/* Tooltips */
QToolTip {
    background-color: #1e1e1e;
    color: #ffffff;
}